<div {% if not widget.attrs.style %}style="height:{{widget.height|default:'500px'}};width:{{widget.width|default:'90%'}};display:inline-block;"{% endif %}{% include "django/forms/widgets/attrs.html" %}></div>

<textarea id="{{widget.attrs.id}}_textarea" name="{{ widget.name }}" required="" style="display: none">{{ widget.value }}</textarea>

<script>
    (function() {
        var container = document.getElementById("{{ widget.attrs.id }}");
        var textarea = document.getElementById("{{widget.attrs.id}}_textarea");

        var options = {{ widget.options|safe }};
        options.onChange = function () {
            try {
                var json = editor.get();
                textarea.value=JSON.stringify(json);    
            } catch (e) {
                var malformedText = editor.getText();
                var json = JSON.parse(textarea.value);
                json['error'] = 'Malformed json. Please enter valid json and resave';
                json['malformed_text'] = malformedText
                textarea.value=JSON.stringify(json);
                console.error(`Malformed json: ${e}`)
            }
        }

        var editor = new JSONEditor(container, options);
        var json = {{ widget.value|safe }};
        if ('malformed_text' in json) {
            editor.setText(json['malformed_text']);
        } else {
            editor.set(json);
        }
    })();
</script>
